<!DOCTYPE html>
<html lang="ko">
<head>
<title>KCIA Survey</title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="/static/first/css/galleriffic.css"/>
	<link type="text/css" rel="stylesheet" href="/static/first/css/style.css" />
	<link rel="stylesheet" href="/static/first/css/form-login.css">
</head>
<body>
<div id="wrap">
  <div id="header">
    <div class="logo"><a href="login"><img src="/static/first/images/ci.png" alt="" /></a></div>
    <!--end logo-->
    <div id="nav">
      <ul id="nav-pages">
        <li><a href="login" class="current">홈</a><span></span></li>
        <li><a href="signup">회원가입</a><span></span></li>
        <li><a href="contact">문의사항</a></li>
      </ul>
      <!--end nav-pages-->
    </div>
    <!--end nav-->
  </div>
  <!--end header-->
	  <div id="frontpage-content">
	    <div id="container">
	      <div class="gallery-content">
	      	<br>
	      	<br>
			<p><label>설문 조사 관련: </label></p>
			<p><label>임수진 연구원 / 010-9246-0731 / <a href="mailto:imsujin91@k-cia.or.kr">imsujin91@k-cia.or.kr</a></label></p>
			<br>
			<br>
			<p><label>웹 페이지 관련:</label></p>
			<p><label>강영주 연구원 / 010-5491-7795 / <a href="mailto:youngzootopia@k-cia.or.kr">youngzootopia@k-cia.or.kr</a></label></p>
			<p><label>배진수 연구원 / 010-2934-8409 / <a href="mailto:jsbae@k-cia.or.kr">jsbae@k-cia.or.kr</a></label></p>
		  </div>
		</div>
	  </div>
	</div>
</body>
</html>