<!DOCTYPE html>
<html lang="ko">
<head>
<title>KCIA Survey</title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="/static/first/css/galleriffic.css"/>
	<link type="text/css" rel="stylesheet" href="/static/first/css/style.css" />
	<link rel="stylesheet" href="/static/first/css/form-login.css">
</head>
<body>
<div id="wrap">
  <div id="header">
    <div class="logo"><a href="login"><img src="/static/first/images/ci.png" alt="" /></a></div>
    <!--end logo-->
    <div id="nav">
      <ul id="nav-pages">
        <li><a href="login" class="current">홈</a><span></span></li>
        <li><a href="signup">회원가입</a><span></span></li>
        <li><a href="contact">문의사항</a></li>
      </ul>
      <!--end nav-pages-->
    </div>
    <!--end nav-->
  </div>
  <!--end header-->
  <div id="frontpage-content">
    <div id="container">
      <div class="gallery-content">
<form method="post">
	<button type="submit"><img src="/static/first/images/guide.png"></button>
{% csrf_token %}
<span>
<br>
<br>
<br>
<input type="submit" value="시작" />
</span>
<input type="hidden" name="currentShot" value="{{ next }}" />
</form>
</div>
</div>
</div>
</div>
</body>
</html>